# Django

DEBUG=True

SECRET_KEY=**pea(orz5_(uyigpk)hsn02w!8msjpvkek)(jl@2q_uu*s9p_

ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DATABASE_NAME=db.sqlite3

# Email
EMAIL_HOST=

EMAIL_PORT=

EMAIL_HOST_USER=

EMAIL_HOST_PASSWORD=

EMAIL_USE_TLS=True

# AWS (Future)
AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=

AWS_REGION=