# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Python Packaging
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# Docker
*.pid